@import url("https://fonts.googleapis.com/css?family=Karla");

body {
    background: navajowhite;
    margin: 2em;
    font-family: 'Karla', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-size: 1.2em;
}

.container {
    max-width: 30em;
    margin: 0 auto;
}

.game-board, .game-pieces {
    float:left;
    display: block;
    width: 12em;
    margin: 1em 1em 1em 0;
}

.game-board {
    clear: left;
}

.instructions {
    clear: both;
}

.spot {
    display: block;
    width: 2em;
    height: 2em;
    border: .5em solid white;
    float: left;
}

.spot-on {
    border-color: black;
}

.spot-clear {
    clear: left;
}

.piece {
    display: block;
    width: 2em;
    height: 2em;
    border: .4em solid #333;
    float: left;
    margin: .1em;
}

.piece-selected {
    border-color: dimgray;
}

.piece-hidden {
    display: none;
}

a {
    color: #4169e1;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.pure-button {
    margin-right: 1em;
    float:left;
    background: transparent;
    border: 2px solid black;
}
