body {
    background: navajowhite;
    margin: 5em;
    font-family: sans-serif;
}

.reset-button {
    float: left;
}

.game-board {
    clear: left;
}

.game-board, .game-pieces {
    float:left;
    display: block;
    width: 12em;
    margin: 1em;
}

.instructions {
    clear: both;
}

.spot {
    display: block;
    width: 2em;
    height: 2em;
    border: .5em solid white;
    float: left;
}

.spot-on {
    border-color: black;
}

.spot-clear {
    clear: left;
}

.piece {
    display: block;
    width: 2em;
    height: 2em;
    border: .4em solid black;
    float: left;
    margin: .1em;
}

.piece-selected {
    border-color: dimgray;
}

.piece-hidden {
    display: none;
}
